.popular-courses {
    font-family: "Onest", sans-serif;
}

.popular-courses .title {
    font-size: 34px;
    font-weight: 700;
}

.popular-courses .sub-title {
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    line-height: 24px;
    margin-top: 15px;
}

.popular-courses .course-item {
    border: 1px solid #CACACA;
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: 12px;
}

.popular-courses .course-item:hover {
    border-color: #9a99e0;
}

.popular-courses .course-item .course-thumbnail {
    width: 100%;
    height: 200px;
    border: none;
    position: relative;
    overflow: hidden;
}

.popular-courses .course-item .course-thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-courses .course-item .course-thumbnail .icon-area {
    position: absolute;
    top: 7%;
    right: 5%;
}

.popular-courses .course-item .course-thumbnail .icon-area .icon {
    border: none;
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: none;
}

.popular-courses .course-item:hover .icon-area .icon {
    display: block;
    animation: slide-left .8s;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(14px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


.popular-courses .course-item .course-thumbnail .icon-area .icon i {
    color: #606061;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.popular-courses .course-item .course-thumbnail .icon-area .icon .bi-heart {
    display: block;
    margin-top: 2px;
}

.popular-courses .course-item .course-content {
    padding: 16px;
}

.popular-courses .course-item .course-content .level p {
    border: 1px solid #ffc773;
    background-color: #fff5e6;
    color: #000000;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 6px;
}

.popular-courses .course-item .course-content .subject p {
    border: 1px solid #cee632;
    background-color: #f5fad7;
    color: #000000;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 6px;
}

.popular-courses .course-item .course-name {
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

.popular-courses .course-item .course-name:hover {
    text-decoration: underline;
    transition: .6s;
}

.popular-courses .course-item .rating i {
    padding-right: 8px;
    font-size: 13px;
    color: #ff9900;
}

.popular-courses .course-item .rating span {
    font-size: 13px;
    color: #000000;
    font-weight: 600;
}

.popular-courses .course-item .review span {
    font-size: 13px;
    color: #000000;
    font-weight: 600;
}


.popular-courses .course-item .dl-area {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.dl-area .duration,
.dl-area .lessons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.popular-courses .course-item .dl-area p {
    font-size: 16px;
    color: #000000;
    margin: 0;
}

.popular-courses .course-item .dl-area .line {
    width: 1px;
    height: 18px;
    background-color: #cccccc;
}

.duration img,
.lessons img {
    width: 18px;
    height: 18px;
}

.popular-courses .course-item .bottom-section {
    padding-top: 15px;
}

.popular-courses .course-item .bottom-section .photo {
    width: 42px;
    height: 42px;
    border: 1px solid #b5b3a7;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.popular-courses .course-item .bottom-section .photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-courses .course-item .bottom-section h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.popular-courses .course-item .bottom-section h5 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.popular-courses .course-item .bottom-section .enrolled {
    border: 1px solid #c2c2c2;
    background-color: #f2f2f2;
    padding: 0px 6px;
    border-radius: 6px;
}

.popular-courses .course-item .bottom-section .enrolled span {
    font-size: 13px;
    color: #000000;
}

.popular-courses .course-item .bottom-section .enrolled span i {
    color: #616161;
    padding-right: 7px;
}

.popular-courses .slick-slider {
    margin: 0 -15px;
}

.popular-courses .slick-slide>div {
    margin: 10px 10px;
    z-index: 99;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    content: none !important;
}

.popular-courses .slick-prev,
.slick-next {
    background: white;
    padding: 10px;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #cccccc !important;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.popular-courses .slick-prev i,
.slick-next i {
    font-size: 20px;
    color: #666666;
}

.popular-courses .slick-prev:hover,
.slick-next:hover {
    border-color: #333333 !important;
    transition: 0.3s;
}

.popular-courses .slick-prev:hover i,
.slick-next:hover i {
    color: #333333 !important;
    transition: 0.3s;
}

.popular-courses .slick-prev:focus,
.slick-next:focus {
    background: white;
    outline: none;
}

/* Positioning the buttons */
.popular-courses .slick-prev {
    top: -35px !important;
    left: 89% !important;
}

.popular-courses .slick-next {
    left: 94% !important;
    top: -35px !important;
}

.popular-courses .slick-dots li button,
.popular-courses .slick-dots li button:before {
    margin-top: 20px !important;
    border: 2px solid #b3b3b3 !important;
    background-color: transparent !important;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    content: '';
}

.popular-courses .slick-dots li.slick-active button:before {
    color: white !important;
    background-color: #9a99e0 !important;
}




@media (max-width: 1024px) {
    .popular-courses .course-item .course-name {
        font-size: 20px;
    }

    .popular-courses .course-item .dl-area {
        margin-top: 30px;
    }

    .popular-courses .course-item .bottom-section h5 {
        font-size: 22px;
    }

    .popular-courses .slick-slider {
        margin: 0px;
    }

    .popular-courses .slick-prev {
        left: 85% !important;
    }

    .popular-courses .slick-next {
        left: 92% !important;
    }
}

@media (max-width: 991px) {
    .popular-courses .course-item .course-name {
        font-size: 20px;
    }

    .popular-courses .course-item .bottom-section h5 {
        font-size: 22px;
    }

    .popular-courses .slick-slider {
        margin: 0px;
    }

    .popular-courses .slick-prev {
        left: 81% !important;
    }

    .popular-courses .slick-next {
        left: 90% !important;
    }

    .popular-courses .slick-slider {
        margin: 0px;
    }

    .popular-courses .slick-slide>div {
        margin: 10px 10px 0px 10px;
    }
}




@media (max-width: 768px) {
    .popular-courses .sub-title {
        width: 100%;
    }

    .popular-courses .course-item .course-name {
        font-size: 20px;
    }

    .popular-courses .course-item .dl-area {
        margin-top: 30px;
    }

    .popular-courses .course-item .bottom-section h5 {
        font-size: 22px;
    }

    .popular-courses .slick-slider {
        margin: 0px;
    }

    .popular-courses .slick-slide>div {
        margin: 10px 0px 0px 0px;
    }

    .popular-courses .slick-prev,
    .slick-next {
        display: none !important;
    }
}