.footer-section {
    font-family: "Onest", sans-serif;
    background-color: #f2f2f5;
    padding: 80px 0px;
}

.footer-section .f-widget .f-title {
    font-size: 14px;
    color: #79797a;
    font-weight: 400;
    padding-bottom: 15px;
}

.footer-section .f-widget ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-section .f-widget ul li {
    line-height: 28px;
}

.footer-section .f-widget ul li .f-link {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    opacity: .8;
}

.footer-section .f-widget ul li .f-link:hover {
    opacity: 1;
}

.footer-section .f-middle {
    border-top: 1px dashed #c2c2c4;
    border-bottom: 1px dashed #c2c2c4;
    padding: 20px 0px;
    margin: 30px 0px;
}

.footer-section .f-middle h4 {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    margin: 0;
}

.footer-section .f-middle img {
    width: 18px;
}

.footer-section .copyright p {
    font-size: 13px;
    color: #79797a;
    font-weight: 400;
}


@media (max-width: 768px) {
    .footer-section .f-middle h4 {
        font-size: 18px;
    }

    .footer-section .f-widget {
        margin-bottom: 20px;
    }

    .footer-section .f-middle {
        margin-top: 10px;
    }
}