@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');



html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Onest", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal;

}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myBtn {
  text-decoration: none;
  border: 1px solid #287178;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  padding: 8px 18px;
  border-radius: 24px;
  background: #287178;
}

.myBtn:hover {
  background-color: transparent;
  color: #287178;
}

.myBtn_2 {
  text-decoration: none;
  border: 1px solid #287178;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #287178;
  padding: 8px 18px;
  border-radius: 24px;
  background: transparent;
}

.myBtn_2:hover {
  background: #287178;
  color: white;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
}